git+https://github.com/LiyuanLucasLiu/RAdam
git+https://github.com/ray-project/ray_lightning#ray_lightning
matplotlib
rdkit
pytorch-lightning
torch
torchvision
torchaudio
torchmetrics
einops
ipykernel
seaborn
h5py
ray[tune]
umap-learn
optuna
scikit-learn
pathos
hyperopt
setuptools==59.5.0
CairoSVG